@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome, @(User.FindFirst("FirstName").Value +" "+ User.FindFirst("LastName").Value)
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Account" asp-action="logout">Log Out</a>
        </div>
    </div>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="login">LogIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="signup">SignUp</a>
        </li>
    </ul>
}

